.portfolios .box {
  margin-bottom: 30px;
  margin-left: 2px;
}
.portfolios .text {
  padding: 0 30px;
}
.portfolios .images {
  width: 320px;
  height: 220px;
}
.portfolios img {
  width: 320px;
  height: 220px;
  object-fit: cover;
}
.portfolios h1 {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .portfolios img,
  .portfolios .images {
    height: 350px;
  }
}
